# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DINKEY_42_LEFT
	def_bool $(shields_list_contains,dinkey_42_left)

config SHIELD_DINKEY_42_RIGHT
	def_bool $(shields_list_contains,dinkey_42_right)