# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DINKEY_36_LEFT
	def_bool $(shields_list_contains,dinkey_36_left)

config SHIELD_DINKEY_36_RIGHT
	def_bool $(shields_list_contains,dinkey_36_right)