# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DINKEY_52_LEFT

config ZMK_KEYBOARD_NAME
	default "Dinkey 52"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_DINKEY_42_RIGHT

config ZMK_KEYBOARD_NAME
	default "Dinkey_52 Right"

endif

if SHIELD_DINKEY_52_LEFT || SHIELD_DINKEY_52_RIGHT

config ZMK_SPLIT
	default y

endif
